@import '@/styles/variables.module.scss';

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.default {
  background-color: $default-color;
  color: $black-color;
}

.primary {
  background-color: $primary-color;
  color: $default-color;
}

.warn {
  background-color: $default-color;
  color: $warn-color;
}

.error {
  background-color: $warn-color;
  color: $default-color;
}

.medium {
  padding: 1.2em 1.5em;
}
