@import '@/styles/variables.module.scss';

.wave-container {
  transform: translate(calc(50vw - 50%), 25vh);
  position: fixed;
  z-index: 1000;
}

.wave {
  background-color: $default-color;
}

.container {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $base-theme-color;
  opacity: 1;
}
