.list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 40px 24px;
  height: 100%;
}

.list-item-enter {
  opacity: 0;
}
.list-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
