.login-btn {
  padding: 1.15em 1em;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
