$base-theme-color: #4281a4;
$base-theme-color-light: #a0bfd1;
$twitter-color: #00acee;
$default-color: #ffffff;
$primary-color: #57a773;
$primary-light-color: #cde5d5;
$warn-color: #ff6b6b;
$warn-light-color: #ffd3d3;
$black-color: #050505;
$black-light-color: #cdcdcd;

$gray: #6f6866;
