@import '@/styles/variables.module.scss';

.modal {
  background-color: $gray;
}

.modal-close {
  color: $default-color;
}

.list-container {
  width: 100vw;
  max-width: 1000px;
  transform: translate(-16px, 0);
}
