@import '@/styles/variables.module.scss';

.root {
  background-color: $default-color;
  color: $black-color;
  font-size: 1.2em;
  font-weight: 600;
  padding: 8px 16px;
  height: 50px;
  box-sizing: content-box;
  border-radius: 5px;
  // &:active {
  //   transform: scale(1.02);
  //   transition: 0.1s;
  // }
  // .ripple {
  // background-position: center;
  // transition: background 0.8s;
  // }
  // :hover {
  //   background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  // }
  // &:active {
  //   background-color: $black-color-light;
  //   background-size: 100%;
  //   transition: background 0s;
  // }

  // .ripple {
  background-position: center;
  transition: background 0.8s;
  // }
  &:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
      center/15000%;
  }
  &:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
}

.skelton {
  flex: 1;
  align-self: center;
  height: 66px;
}
