@import '@/styles/variables.module.scss';

.root {
  background-color: $default-color;
  color: $black-color;
  font-size: 1.2em;
  font-weight: 600;
  padding: 8px 16px;
  height: 50px;
  box-sizing: content-box;
  border-radius: 5px;
  &:active {
    transform: scale(1.02);
    transition: 0.1s;
  }
}

.skelton {
  flex: 1;
  align-self: center;
  height: 66px;
}
